.Header{
    margin: 0px;
    background: transparent url('/src/img/header_bar.png') 0% 0% no-repeat padding-box;
    padding: 0px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.Title{
    font-size: 30px;
    margin-left: 35px;
}

.Rightside{
    font-size: 25px;
    margin-right: 35px;
}