.Maintitle{
    color:white;
    align-items: center;
    text-align: center;
}


.Titleimg{
    margin-bottom: -80px;
}

.Subtitle{
    font-size: 45px;
    
}


.Maintitle_Divider hr{
    width: 90%;
    border: 1px solid #00FF4C;
    opacity: 1;
    margin-bottom: 70px;
}