.Minted_bar{
    text-align: center;
}


.Minted_bar_img{
    margin-top: -600px;
    margin-bottom: -120px;
}

.Minted_bar_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin : auto;


    background-color: #32BB55;
    height: 127px;
    border-radius: 10px;
    opacity: 1;
    color:white;
    font-size: 30px;
}



.Minted_bar_bar span{
    text-align: center;
    font: normal normal normal 35px Black Ops One;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #871DFF;
}


.Minted_bar_bar_blackborder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 75%;
    width: 97%;
    border: 5px solid #000000;
    border-radius: 10px;
}