.Stake_SWAT{
    background-color: #6D56B9;
    border-radius: 10px;
    opacity: 1;

    height: 650px;
    width: 80%;
    margin:auto;
    margin-top: 80px;
    text-align: center;
}


.Stake_SWAT_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.Stake_SWAT_title hr{
    width : 40%;
    background-color: black;
    height: 4px;
    border: 0px;
    margin: 0px;
}

.Stake_SWAT_title span{
    font-size: 60px;
    margin: 0px;
}

.Stake_SWAT p{
    font-size: 35px;
}

.Stake_SWAT_connectwallet{
    border: 5px solid #000000;
    border-radius: 10px;
    opacity: 1;

    height: 200px;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.Stake_SWAT_connectwallet span{
    font-size: 35px;
}



.Stake_SWAT_stakeheist{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80.8%;
    margin: auto;
}

.Stake_SWAT_stakeheist_progressbar{
    border: 5px solid #000000;
    border-radius: 10px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    margin-right: 100px;
}

.Stake_SWAT_stakeheist_progressbar span{
    font-size: 35px;
}

.Stake_SWAT_stakeheist button{
    height: 100px;
    flex-grow: 1;

    font-family: 'Black Ops One';
    font-size: 30px;
    color: #6D56B9;


    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;

    padding-right: 20px;
    padding-left: 20px;
}