.Steaking{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}



.Steaking_divider{
    margin-top: 60px;
    border-left: 3px solid #00FF4C;
    height: 1700px;
}




/*HEIST GANG*/

.Heistgang{
    margin-top: 200px;
    margin-left: 190px;
    margin-right: 50px;
    width: 100%;
}
.Heistgang_title{
    font-size: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: #35BD4C;
}
.Heistgang_description{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.Heistgang_steakbox{
    width: 100%;
    height: 570px;
    background-color: #35BD4C;
    background: transparent url('/src/img/header_bar.png') 0% 0% padding-box;
    border-radius: 10px;
    opacity: 1;

    text-align: center;
}
.Heistgang_img{
    display: flex;
    justify-content: center;
}
.Heistgang_steakbox h2{
    padding-top: 40px;
    font-size: 45px;
    font-weight: normal;
    color: black;
}
.Heistgang_steakbox h1{
    padding-top: 20px;
    font-size: 70px;
    font-weight: normal;
    color :#FF0066;
}
.Heistgang_steakbox hr{
    height: 4px;
    width: 95%;
    border: 0px;
    background-color: black;
}
.Heistgang_steakbox_button{
    display: flex;
    justify-content: center;
}
.Heistgang_steakbox_button button{
    height: 100px;
    width: 45%;
    margin: 15px;
    margin-top: 90px;
    background-color: black;
    border-radius: 15px;
    opacity: 1;
    font-family: "black ops one";
    font-size: 30px;
    color:#37C05A;
}




/*SWAT TEAM*/

.Swatteam{
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 190px;    
    width: 100%;
}
.Swatteam_title{
    font-size: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: #7C6BC0;
}
.Swatteam_description{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.Swatteam_img{
    display: flex;
    justify-content: center;
}
.Swatteam_steakbox{
    width: 100%;
    height: 570px;
    background-color: #8267DE;
    border-radius: 10px;
    opacity: 1;

    text-align: center;
}
.Swatteam_steakbox h2{
    color: black;
    padding-top: 40px;
    font-size: 45px;
    font-weight: normal;
}
.Swatteam_steakbox h1{
    padding-top: 20px;
    font-size: 70px;
    font-weight: normal;
    color :#FF0066;
}
.Swatteam_steakbox hr{
    height: 4px;
    width: 95%;
    border: 0px;
    background-color: black;
}
.Swatteam_steakbox_button{
    display: flex;
    justify-content: center;

}
.Swatteam_steakbox_button button{
    height: 100px;
    width: 45%;
    margin: 15px;
    margin-top: 90px;
    background-color: black;
    border-radius: 15px;
    opacity: 1;
    font-family: "black ops one";
    font-size: 30px;
    color:#8267DE;
}