.Wallet_Mintingbox{
    margin-top: 50px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Wallet_box{
    top: 1000px;
    left: 200px;
    width: 80%;
    height: 330px;
    background-color: #32BB55;
    background: transparent url('/src/img/header_bar.png') 0% 0% padding-box;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

.Wallet_Address{
    margin-left: 50px;
    margin-top: 25px;
    font-size: 50px;
}

.Unclaimed_Heist{
    top: 1000px;
    left: 1130px;
    width: 40%;
    height: 300px;

    margin-right: 30px;
    margin-top: 10px;

    border: 5px solid #000000;
    opacity: 1;
}


.Unclaimed_Heist p{
    margin-top: 17px;
    text-align: center;
    font-size: 50px;
}

.Unclaimed_Heist h2{
    margin-top: 17px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
    font-size: 80px;
}

.Minting_box{
    top: 1000px;
    left: 200px;
    width: 80%;
    height: 600px;
    margin-top: 150px;
    background-color: #32BB55;
    background: transparent url('/src/img/header_bar.png') 0% 0% padding-box;
    border-radius: 10px;
    opacity: 1;
}

.Minting_title{
    margin-top: 25px;
    font-size: 60px;
}

.Minting_content{
    margin-top: 100px;
    margin-left: 45px;
    margin-right: 45px;
    opacity: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}


.Minting_content_gen0{
    flex-grow: 1;
    padding-left: 20px;
    padding-top: 7px;
    border: 10px solid #000000;
    border-right: 5px solid #000000;
    font-size: 40px;
    padding-bottom: 7px;
    flex-basis: 25%;
}

.Minting_content_gen1{
    flex-grow: 1;
    padding-left: 20px;
    padding-top: 7px;
    border: 10px solid #000000;
    border-right: 5px solid #000000;
    border-left: 5px solid #000000;
    font-size: 40px;
    flex-basis: 25%;
}

.Minting_content_gen2{
    flex-grow: 1;
    padding-left: 20px;
    padding-top: 7px;
    border: 10px solid #000000;
    border-right: 5px solid #000000;
    border-left: 5px solid #000000;
    font-size: 40px;
    flex-basis: 25%;
}

.Minting_content_gen3{
    flex-grow: 1;
    padding-left: 20px;
    padding-top: 7px;
    border: 10px solid #000000;
    border-left: 5px solid #000000;
    font-size: 40px;
    flex-basis: 25%;
}


.Minting_content_heistprice{
    font-size: 25px;
    white-space: nowrap;
}


.Minting_content_button_mint{
    margin-top: 70px;
    width: 40%;
    height: 104px;
    background: #871DFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    font-size: 50px;
    font-family: 'black ops one', cursive;
}